.app-wrapper{
  margin: 0px;
  display: grid;

  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 10fr;
}

.header{
  grid-area: h;
  background-color: greenyellow;
}
.header img{
  width: 90px;
}
.nav{
  grid-area: n;
  background-color: red;
}

.content{
  grid-area: c;
  background-color: rgb(38, 48, 134);
}

.content img{
  width: 800px;
}